<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

        <f:if condition="{data.tx_klarovideo_youtube}">
            <f:if condition="{data.tx_klarovideo_aspectratio}==0">
                <f:then>
                    <div class="embed-responsive embed-responsive-16by9">
                </f:then>
                <f:else if="{data.tx_klarovideo_aspectratio}==1">
                    <div class="embed-responsive embed-responsive-4by3">
                </f:else>
                <f:else if="{data.tx_klarovideo_aspectratio}==2">
                    <div class="embed-responsive embed-responsive-21by9">
                </f:else>
                <f:else>
                    <div class="embed-responsive embed-responsive-1by1">
                </f:else>
            </f:if>
            <iframe
                data-name="youtube"
                data-src="https://www.youtube-nocookie.com/embed/{data.tx_klarovideo_youtube}"
                frameborder="0"
                title="YouTube video player"
                allow="accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture"
                allowfullscreen>
            </iframe>
            </div>
        </f:if>
</f:section>
</html>
